<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="tomasn.lottery.mybatis.model.Draw" alias="Draw"/>
        <typeAlias type="tomasn.lottery.mybatis.model.ShareValue" alias="ShareValue"/>
        <typeAlias type="tomasn.lottery.mybatis.model.Ticket" alias="Ticket"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="MANAGED"/>
            <dataSource type="JNDI">
                <property name="data_source" value="LotteryDataSource"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mybatis.xml/DrawMapper.xml"/>
        <mapper resource="mybatis.xml/ShareValueMapper.xml"/>
        <mapper resource="mybatis.xml/TicketMapper.xml"/>
    </mappers>
</configuration>
